.admin-table{
  margin: 50px;
}

.search-bar{
  margin:10px 0px;
}

.table-section{
  width: 100%;
  /* background-color: aqua; */
}

.custom-table{
  width: 100%;
  overflow-x: auto;
}

thead {
  background-color: #dfdfdf;
}

.custom-table th,
.custom-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ebe5e5;
}

.table-row:hover {
  background-color: rgb(216, 211, 211);
  background: radial-gradient(ellipse at center, #e2e2e2, #e9e6dc 50%, #ffffff);
  cursor: pointer;
}



/* action-section */
.action-section {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}


/* action-section editing-input */
.edit-input {
  width: 50%;
  height: 1.6rem;
  padding: 0.01px;
  border-radius: 4px;
}

/* action-section submit-button */

.submit-btn {
  width: 60%;
  height: 1.5rem;
  color: white;
  font-weight: 600;
  background-color: crimson;
  border: none;
  border-radius: 4px;
}


.submit-btn:disabled{
  background-color: #cccccc;
  color: black;
}



/* action-section delete-button */
.delete-button:hover {
  border: 1px solid rgb(180, 177, 177);
  border-radius: 10px;
  cursor: pointer;
}


.pagination-bar{
  width: 100%;
  margin-top: 10px;
}



@media screen and (max-width:760px) {
  .admin-table{
    margin: 15px;
  }
  .search-bar{
    margin:10px 0px;
    width: 100%;
  }

  .table-section{
    width: 100%;
   overflow-x: auto;
  }
  .edit-input {
    width: 90%;
    padding: 2px;
  }
 .pagination-bar{
  width: 100%;
}
}