.admin-table{
  margin: 50px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3); 
  gap: 20px; 
}




/* table-section */

.custom-table {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

thead {
  background-color: #dfdfdf;
}

.custom-table th,
.custom-table td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ebe5e5;
}

.table-row:hover {
  background-color: rgb(216, 211, 211);
  background: radial-gradient(ellipse at center, #e2e2e2, #e9e6dc 50%, #ffffff);
  cursor: pointer;
}



/* action-section */
.action-section {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}


/* action-section editing-input */
.edit-input {
  width: 50%;
  height: 1.6rem;
  padding: 0.01px;
  border-radius: 4px;
}

/* action-section submit-button */

.submit-btn {
  width: 60%;
  height: 1.5rem;
  color: white;
  font-weight: 600;
  background-color: crimson;
  border: none;
  border-radius: 4px;
}



/* action-section delete-button */
.delete-button:hover {
  border: 1px solid rgb(180, 177, 177);
  border-radius: 10px;
  cursor: pointer;
}








@media screen and (max-width:760px) {
  .table-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 12px;
  }

  .edit-input {
    width: 80%;
  }
  .search-bar{
    max-width: 90%;
    display: flex;
    justify-content: center;
    
}
.pagination-bar{
  width: 90%;
  display: flex;
  justify-content: center;

}

.admin-table{
  margin: 20px;
}
}